$primary-color: #5aabc1;
$text-color: #ffffff;

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .child {
    padding: 20px;
    width: 380px;
    max-width: 90%;
    background-color: $primary-color;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    #signup-heading {
      text-align: center;
      color: $text-color;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .imgDiv {
      margin-bottom: 20px;
    }

    .login-form-margin {
      margin-bottom: 16px;
    }

    .login-form-forgot {
      align-self: flex-end;
      color: $primary-color;
      margin-bottom: 8px;
    }

    .login-form-button {
      background-color: $primary-color;
      color: $text-color;
      border: none;
      padding: 10px 0;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: lighten($primary-color, 10%);
      }
    }

    .register-area {
      margin-bottom: 8px;
    }

    nz-form-control {
      min-width: 280px;
    }
  }
}

.phone-select {
  width: 70px;
}

button {
  background-color: #001529;
  border: none;
}
